.ribbon {
  font-size: 20px;
  font-weight: lighter !important;
  position: relative;
  background: #ef2c12;
  color: #fff;
  top: -40px;
  text-align: center;
  padding: 1em 2em;
  margin: 0 2em 1em 2em;
}
.ribbon:before, .ribbon:after {
  content: "";
  position: absolute;
  bottom: -0.7em;
  border: 1.5em solid #d9260f;
  z-index: -1;
}
.ribbon:before {
  left: -3em;
  margin-left: 1em;
  border-right-width: 1.5em;
  border-left-color: transparent;
}
.ribbon:after {
  right: -3em;
  margin-right: 1em;
  border-left-width: 1.5em;
  border-right-color: transparent;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #a91e0b transparent transparent transparent;
  bottom: -0.7em;
}
.ribbon .ribbon-content:before {
  left: 0;
  border-width: 0.7em 0 0 1em;
}
.ribbon .ribbon-content:after {
  right: 0;
  border-width: 0.7em 1em 0 0;
}

.non-semantic-protector {
  position: relative;
  z-index: 1;
}

.ribbon2 {
  font-size: 20px;
  font-weight: lighter !important;
  position: relative;
  background: #426f00;
  color: #fff;
  top: -40px;
  text-align: center;
  padding: 1em 2em;
  margin: 0 2em 1em 2em;
}
.ribbon2:before, .ribbon2:after {
  content: "";
  position: absolute;
  bottom: -0.7em;
  border: 1.5em solid #335600;
  z-index: -1;
}
.ribbon2:before {
  left: -3em;
  margin-left: 1em;
  border-right-width: 1.5em;
  border-left-color: transparent;
}
.ribbon2:after {
  right: -3em;
  margin-right: 1em;
  border-left-width: 1.5em;
  border-right-color: transparent;
}
.ribbon2 .ribbon-content2:before, .ribbon2 .ribbon-content2:after {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #152300 transparent transparent transparent;
  bottom: -0.7em;
}
.ribbon2 .ribbon-content2:before {
  left: 0;
  border-width: 0.7em 0 0 1em;
}
.ribbon2 .ribbon-content2:after {
  right: 0;
  border-width: 0.7em 1em 0 0;
}
